  
body{
    text-align: center;
}
ul{
    display: inline-block;
    clear: right;
    text-align: right;
    float: right;
}
li{
    display: inline;
}
.logo-container{
    float: left;
}
.logo-container, .logo-container >span{
   display: inline-block;
   text-align: left;
}
.logo-container img{
    margin-right: 10px;
}
span{
    text-align: left;
}
article img{
    width: 100%;
}
span h2,p{
    margin: 0;
}
span h2{
   font-size: 40px;
}
h1{
    text-align: left;
}
a{

}
hr{
    clear: both;
    border-style: groove;
    height: 5px;
    background-color: grey;
}
.left-side{
    text-align: left;
}
.right-side{
    text-align: right;
}
button{
    background-color: orangered;
    color: wheat;
    text-decoration:none;
}